
*.ide-shm
*.ide
Game/.vs/Game/v15/Server/sqlite3/storage.ide
*.ide-wal
*.ide
Game/.vs/Game/v15/Server/sqlite3/storage.ide
*.props
*.json
Game/UnitTest/obj/Debug/netcoreapp2.0/UnitTest.csproj.FileListAbsolute.txt
Game/Unit/obj/Debug/Unit.csproj.FileListAbsolute.txt
Game/.vs/Game/v15/Server/sqlite3/storage.ide
